div#ImportUsersPortlet {
    padding: 20px;
    background: none;
    box-shadow: none;
    border: 0;
}
#ImportUsersPortlet  span#nofileselect {
	margin-left: 8px;
}
#ImportUsersPortlet .ui-widget-header {
	border: 0;
}
#ImportUsersPortlet .ui-state-default .ui-icon{display: none }

#ImportUsersPortlet table.dataTable.compact thead th, table.dataTable.compact thead td {
	padding: 10px 0;
	background-color: #f0f0f0;
	border-bottom: 1px solid #cccccc;
	color: #333333;
	font-size: 13px;
	text-transform: capitalize;
}
#ImportUsersPortlet table.dataTable{width: 100%!important}
#ImportUsersPortlet table.dataTable.compact tbody th, table.dataTable.compact tbody td {

	background-color: #f8f8f8;
	font-size: 13px;
	padding: 7px 15px;
	vertical-align: middle;
	border-right: 1px solid #cccccc;
	background-color: #e6e6e6;
}
#ImportUsersPortlet table.dataTable.compact tbody tr:nth-child(odd) td{background-color: #f8f8f8;}
#ImportUsersPortlet table.dataTable.compact tbody tr:nth-child(even) td{background-color: ##ffffff;}
#ImportUsersPortlet .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
	color: #333333;
	padding: 10px;
}
